%table.table.table-bordered.table-condensed#api-doc-table
  - if action['meta'].present? && action['meta'].is_a?(Hash)
    - action['meta'].each do |k, v|
      %tr
        %th= k.to_s.titleize
        %td= v

  - if action['method'].present? || action['path'].present?
    %tr.info
      %th Request
      %td
        %span.label.label-info= action['method']
        %code= action['path']

  - if action['cookies'].present? && action['cookies'].is_a?(Hash)
    %tr
      %th Cookies
      %td= haml :_request_params, locals: { request_params: action['cookies'] }

  - if action['headers'].present? && action['headers'].is_a?(Hash)
    %tr
      %th Headers
      %td= haml :_request_params, locals: { request_params: action['headers'] }

  - if action['params'].present? && action['params'].is_a?(Hash)
    %tr
      %th Parameters
      %td= haml :_request_params, locals: { request_params: action['params'] }

  - if action['status'].present?
    %tr.info
      %th Response
      %td
        %span.label{:class => (action['status'].to_s[0] == '4') ? 'label-important' : 'label-success'}
          = action['status']

  - if action['body'].present?
    %tr
      %th Body
      %td
        %pre
          = preserve do
            :escaped
              #{ JSON.pretty_generate(JSON.parse(action['body'])) rescue action['body'] }