!!! 5
%html
  %head
    %style{type: 'text/css'}= stylesheets
    %script{type: "text/javascript", src: "http://code.jquery.com/jquery-2.0.2.min.js"}
    %script{type: "text/javascript"}= javascripts


  %body
    .row-fluid
      .span2
        %ul.nav.nav-list#api-doc-nav
          - controllers.each_with_index do |(controller, actions), ci|
            %li.nav-header
              = controller.gsub(/\W/, '_').humanize.titleize

            - actions.each_with_index do |(action, data), ai|
              %li{:class => (ci == 0 && ai == 0) ? 'active' : ''}
                - tab_id = "#{controller.gsub(/\W/, '_')}_#{action}"
                %a{ href: "##{tab_id}", :data => {:toggle => 'tab'} }= action.humanize.titleize
      .span10
        .tab-content
          - controllers.each_with_index do |(controller, actions), ci|
            - actions.each_with_index do |(action, data), ai|
              - tab_id = "#{controller.gsub(/\W/, '_')}_#{action}"
              .tab-pane{:id => tab_id, :class => (ci == 0 && ai == 0) ? 'active' : ''}
                - data.each do |_, data|
                  = haml :_action, locals: {action: data}
